[2015-01-22 12:02] cdondrup opened #4 "Adding validation and quantisation to qtc"
It should be possible to validate qtc sequences for correctness according to the CND. This would however require to insert steps in between timestamps.
The quantisation is necessary to generate 0-states in noisy data. This quires an additional variable that can be given to the lib.

[2015-01-22 12:03] cdondrup opened #5 "Adding qtcbc"
Currently only qtcb and qtcc are working. qtcbc needs an additional distance value associated to the Cartesian coordinates of the two agents.

[2015-01-22 18:23] cdondrup opened #6 "Setting default values of objects to NaN instead of 0"
Would it be possible to set the default values for, e.g. x and y, to NaN or Inf instead of 0? That way it would be possible to see if the values have been entered properly. In the QTC case it could very well be that x and y are 0 but someone could also have forgotten to give them values. In order to wrie an exhaustive custom check this would have to be changed.

[2015-01-23 10:41] yianni commented on #6
Will investigate and get back to you. Don't see a problem of not being
able to do so at first thought.

Christian Dondrup wrote:

[2015-01-27 10:42] #6 closed

[2015-01-27 13:46] #4 closed

[2015-01-30 16:24] cdondrup commented on #5
Solved via #10

[2015-01-30 16:24] #5 closed

[2015-01-30 16:39] cdondrup opened #11 "QSR lib ros client"
@yianni I have a question about the [ros client](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_ros/qsrlib_ros_client.py):

Is this meant as a tool that can be used like in the `ros_example_client.py` to have an easy way of interfacing the ros service without bothering about the topics and service type? Because if it is, which would be great, then [this line](htt

[2015-01-30 18:10] #11 closed

[2015-01-30 18:25] yianni commented on #11
@cdondrup

Yes, the aim of  `ros_example_client.py` is to provide a seamless and easy way for calling the service without needing to know the underlying details.

Regarding your question. A client doesn't really need an `init_node`. However, judging by the comment I have left, without the `init_node` there I was having trouble with `get_rostime` in [this line](https://github.com/strands-project/st

[2015-01-30 18:31] yianni opened #14 "Test effect of issue #11"
I see you already moved it. OK, I will test and see if there are any issues.

Test that
[code]
that was moved from `qsrlib_ros_client.py` to `example_ros_client` doesn't  cause a problem with
[code]
in `qsrlib_ros_client.py/QSRlib_ROS_Client/make_ros_request_message`

[2015-01-30 18:34] yianni commented on #14
Can't change labels? Can't assign it to myself?

[2015-01-30 18:53] cdondrup commented on #11
That is exactly the issue. You are only allowed to call `init_node` once. As you correctly stated, if you don't do that you cannot call any `rospy` functions which is the reason this the is first line of code in all ROS nodes. Therefore, you should rely on the fact that someone has called `init_node` before trying to create an instance of the qsr ros client.
I moved the call to the executable ros_

[2015-01-30 18:57] cdondrup commented on #14
I made you an admin of this repo so now you should be able to do that.

As I said, tested it for qtc. Please test it for rcc. But it can't break anything. If it does we have to think of something else because it cannot stay the way it was.

[2015-02-20 19:03] yianni opened #15 "add type to QSR class"
@cdondrup I am thinking of adding a type field (string) to [`QSR` class](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_io/world_qsr_trace.py#L4) that will make life easier if a `QSR` object contains multiple relations within its `qsr` string field.

For example if you wanted to describe qualitative distance and speed between two objects you would have to have so

[2015-02-26 17:18] yianni opened #16 "get_sorted_timestamps in World_Trace and World_QSR_Trace are not correct"
get_sorted_timestamps in [World_Trace](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_io/world_trace.py#L56) and [World_QSR_Trace](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_io/world_qsr_trace.py#L26) do not return the timestamps sorted correctly due to them being stupid strings for easier ROS serialization.

Will submit a d

[2015-02-26 19:12] #15 closed

[2015-02-26 19:12] #16 closed

[2015-02-26 19:29] yianni opened #18 "#16 still open"

[2015-02-26 19:40] #18 closed

[2015-02-26 21:19] cdondrup commented on #18
What kind of issue is this?

[2015-02-26 21:23] cdondrup commented on #16
Why don they have to be strings? I use and return arrays in qtc. No problem what so ever. But maybe I just don't get the problem.

[2015-02-26 21:28] cdondrup commented on #15
Might be useful, but I don't immediately see the benefit over just putting it in a readme.
If it doesn't break stuff, no problem adding it. But you would have to return it in the service for it to be useful. Having a description inside the implementation does not help anybody using the library without looking at the code.

[2015-02-26 21:44] yianni commented on #16
It's about the timestamps-keys of the dictionaries in both `World_Trace.trace` and `World_QSR_Trace.trace`. It only affects time-dependent QSRs (like QTC) depending on whether you are calling the `get_sorted_timestamps` and you parse via it; it has no effects on single time QSRs (like RCC3). The effect is easier to show with the following MWE:

[code]

[code]

Would not have been a problem if they

[2015-02-26 21:51] yianni commented on #15
Agree. And I also remembered there is kwargs, but oh well I will leave it for now (should not break anything), and yes with lack of ROS on my work PC did not want to change the service without being able to test it.

[2015-02-27 18:18] PDuckworth opened #20 "QSRLib Question"
I have succesfully implemented qsrlib's qtcb for pairwise objects. I do this by creating an instance of World_Trace() for each pair of objects in the scene. This seems inificient. Can I create one World_Trace, and pass all the object_state_series at once?

I think Yiannis said this was possible in rcc. Is it also possible in the qtc code? @cdondrup @yianni

[2015-02-27 18:26] cdondrup commented on #20
I guess works something like in [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_rcc3_rectangle_bounding_boxes_2d.py#L52-L59) if so, I would have to add that. Will do when I have time since this is a feature I will need as well. I'll let you know but I don't know when I have time for that. Maybe in the beginning of next week.

[2015-02-27 19:03] PDuckworth commented on #20
Having discussed this with Yiannis, it's actually clear that returning all combinations of objects passed to World_Trace() is not such a smart idea for qtc.

i.e. If I pass a trajectory id, and 3 objects, I require the qtc relations for trajectory-object pairs. Not all combintations of the 4 (total) object_states passed. Would this make your implementation too specific?

Further, my code currently

[2015-02-27 19:14] yianni commented on #20
@cdondrup @PDuckworth
Yes, it would be nice to pass a `World_Trace` of arbitrary number of t-steps (`World_State`) consisting of arbitary number of objects (`Object_State`) at each t, as this is the general direction of the QSRlib and it shouldn't really break any existing code as you could still pass a `World_Trace` of two `World_State` of two `Object_State`.

About creating qsrs for specific com

[2015-02-27 19:29] yianni opened #21 "[QTC] Add to QTC to return QSRs from a World_Trace of arbitrary number of World_State of arbitrary number of Object_State"
What title says. No rush.

[2015-02-27 19:32] PDuckworth commented on #20
Yep, it turns out my needs are not in the true philosophy of qsrlib so my code will remain unaltered by any changes you make.

Since I only require trajectory-object pairs returned, I will continue to initialise World_Trace() with just two object_states at a time.

[2015-02-27 19:35] yianni commented on #20
Yes, that would probably be better since it seems specific.

[2015-02-27 19:35] #20 closed

[2015-02-27 19:35] cdondrup commented on #20
@PDuckworth this is exactly what I need as well, robot->human[] qtc relations. But Having the general option getting all possible combinations is more general. I'm not sure yet of this specific implementation should go into the lib or be handled on the client side.

[2015-02-27 19:48] PDuckworth commented on #20
@cdondrup It seems easy enough to create multiple World_Trace()'s, one per pair. This is what I plan on doing /continuing to do.

In fact, Yiannis and I discussed having one World_Trace() per trajectory, with object_state information per timepoint. Then adding a single object's object_states to this World_Trace before calling the qsr_server. This would be quite efficient I think. Slightly more com

[2015-03-02 12:56] yianni opened #23 "Remove "Resetting QSRlib data" message from stdout"

[2015-03-02 17:18] #23 closed

[2015-03-10 19:46] PDuckworth opened #25 "[QTC] QTC returns numpy arrays?"
@cdondrup Does the QTC implementation return np.arrays?

I think @yianni 's idea was that the multiple qsr implementations would return the same type so we can quickly switch between them. RCC3 implementation returns strings.

[2015-03-10 19:54] cdondrup commented on #25
It does return numpy arrys atm, yes. I find strings inherently terrible, especially since I also also use NaN values in the arrays for my QTCbc definition. I see the benefit of strings yes. But why is the message serialised then in the first place?

I can change it to string once I have time which means that I have to create the string first and then recreate the array out of it in my code... :(

[2015-03-10 20:04] yianni commented on #25
On 10/03/15 19:54, Christian Dondrup wrote:

Why? With strings you can have more descriptive notations, and still you
can split them out easily by str.split(",") method.

You can use NaN values as strings also and then can be easily converted
into the classic nan type.

Not sure I understand this. Maybe we can have a chat what you mean. I
don't mind changing strings to some other form (lists, arra

[2015-03-10 20:17] cdondrup commented on #25
OK, let's have a chat next week if that's alright. This week is rather busy for me.

[2015-03-11 09:30] yianni commented on #25
Sounds good. Yes, same here, and same for next week but maybe we can find some time for a quick chat.

[2015-03-11 10:15] PDuckworth commented on #25
Cool, thanks for the info. Chat next week.

[2015-03-20 19:40] hawesie opened #26 "Additional API signature"
From @PDuckworth's work on trajectory activities for the G4S deployment, he is doing lots of calls with trajectories such as: (t, o1), (t, o2), (t, o3) etc. This is introducing a fair bit of overhead doing all these hundreds of calls (tens of thousands once the database fills up when learning I guess). It would be better if we could have a service that did (t, [o1, o2, o3, ...]) to reduce the over

[2015-03-20 21:02] yianni commented on #26
QSRlib already supports passing multiple "objects" [t, o1, o2, o3, ...] at the same time and creating QSRs for/between them as appropriate by the requested QSR (e.g. RCC3).

However, there are two causes for the overhead:
1. Current implementation of QTC only allows two-objects for two-time steps queries. Have already discussed it with @cdondrup and he will fix it when he finds time.
2. @PDuckwort

[2015-03-20 21:09] yianni commented on #26
Ah yes and forgot to mention that since QSRlib already supports passing multiple objects then a temporal solution for now to maybe reduce overhead would be to pass everything, get QSRs for everything (hence the maybe reduce overhead) and filter them out on the client side.

[2015-03-25 10:59] PDuckworth opened #27 "QTCb returning too many timepoints"
@cdondrup out.qsr.trace has more timepoints than world.trace input.

I pass 44 poses (UUID, obj pairs), and it returns 47 traces.

See screenshot for example (highlighted in terminal).

![screenshot from 2015-03-25 10 52 42](https://cloud.githubusercontent.com/assets/5286841/6823186/cdc4f6c6-d2dd-11e4-92eb-17d4ac464fbf.png)

FYI, RCC3 returns 44 timepoint (for comparison).

[2015-03-25 11:25] cdondrup commented on #27
QTC is not able to represent time quantitatively. It collapses similar adjacent states and inserts new states to create a valid state chain turning illegal transitions into several legal ones. If you have a look at the example ros client, there you can run it with `--validate` which inserts new states to turn illegal transitions into a series of legal ones. So if you run it without that option and

[2015-03-25 16:38] PDuckworth commented on #27
@cdondrup OK, thanks for the propmt response.

I understand the `--valitate` parameter (I think). But I have it set to False. So I only expect the actual relations, even if they are ilegal wrt the conceptual neighbourhood graph.

I have `--no_colapse` set to True, but I am not certain what that parameter does (sorry).

[2015-03-25 17:21] PDuckworth commented on #27
PS I run with `--validate` as false, and `--no_colapse` as True, and it still returns 47 timepoints. :(

[2015-03-25 17:21] cdondrup commented on #27
@PDuckworth that does sound very weird. In fact if you have 44 point sets for two agents you should get 42 qtcb relations since this only works on two point sets at a time, meaning: t_0 -> t_1, t_1 -> t_2, ...

If you have a file where this is stored you can test that with the example ros client. The file has too look like this: https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_li

[2015-03-25 17:25] cdondrup commented on #27
If this still does not work, maybe you can send me the file you're using and I have a look.

[2015-03-25 17:26] PDuckworth commented on #27
"... you should get 42 qtcb relations since this only works on two point sets at a time,"

Surely it should return 43?  t1-t2, t2-t3,... , t43-t44 ?? There should be 43 transitions.

[2015-03-25 17:26] cdondrup commented on #27
Mh... you're right... Let me have a look

[2015-03-25 17:27] PDuckworth commented on #27
Altho, that is currently not the real problem. Thanks for clarifying though.

[2015-03-25 17:30] cdondrup commented on #27
OK, Just me being stupid. The `wc` on the input file of course counts the header as well. So you should get 43 for 44 inputs, yes. Just couldn't handle my maths ;)

[2015-03-25 17:37] cdondrup commented on #27
Tested it again on my PC using the example client... using various amounts of data, and it always returns the correct amount of relations. Also, this part: https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L372-L387 creates the qtc representation and cannot run for more than n-1 times, n being the amount of timesteps.

Can yo

[2015-03-25 17:42] cdondrup commented on #27
This is how I do it, starting from the convert function: https://github.com/cdondrup/strands_hri/blob/hrsi/hrsi_representation/src/hrsi_representation/input_base_abstractclass.py

[2015-03-25 17:52] PDuckworth commented on #27
I only pass 4 worlds, each with two objects (traj-obj pair), and each has 44 poses.

My code is here: https://github.com/PDuckworth/strands_data_to_qsrlib/blob/master/src/novelTrajectories/traj_data_reader.py

specifically the `apply_qsr_lib` and `get_qsrlib_world`.

[2015-03-25 18:02] cdondrup commented on #27
Can I test that somehow? How would I run that with what data?

[2015-03-25 18:12] PDuckworth commented on #27
I will try to output my data... but see attached screenshot for my baffling progress...

![screenshot from 2015-03-25 18 06 45](https://cloud.githubusercontent.com/assets/5286841/6831688/d33880c8-d319-11e4-9baf-1880aab5506d.png)

You can see printed at the top (left terminal) the World.trace I pass to the qsrlib_response. It starts off the screen, but it has 44 key-value pairs (last one is "43" si

[2015-03-25 18:28] PDuckworth commented on #27
PS "also this part: ... creates the qtc representation and cannot run for more than n-1 time"

Is correct. It has 44 timepoints... I'll keep digging...

[2015-03-25 18:55] PDuckworth commented on #27
I print timestamps [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L362) and it is correct (44).

But by the time I get to ret [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L404) `len(ret.trace)` is length 47 :(

[2015-03-25 18:57] cdondrup commented on #27
Can you check the length after line 392 and 394?

[2015-03-25 19:00] cdondrup commented on #27
It looks like it is validating your state chain. Because there are 4 state changes that look like they have been inserted to make it valid which is also the number of extra states. That makes me a bit suspicious.

[2015-03-25 19:08] PDuckworth commented on #27
Something strange is happening.

`input_data.trace[0].objects[o1_name].kwargs["validate"]` is False, but the if statement is being executed.

[2015-03-25 19:14] PDuckworth commented on #27
My `--validate` and `--no_collapse` are strings!!!

[2015-03-25 19:14] cdondrup commented on #27
Are you sure it is `False` or might it be `"False"`
If it is a string instead of a bool then the if would be executed. `input_data.trace[0].objects[o1_name].kwargs["validate"]` has to be a bool, `None`, or `0` otherwise it is true.

Your config parser never sets any data type. I suspect that these are all strings and that `no_collapse` works because it is not `False`, `None`, or `0` but a string a

[2015-03-25 19:16] cdondrup commented on #27
I can only recommend using `argparse`, like in [the example ros client](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/scripts/example_ros_client.py#L28-L41)

[2015-03-25 19:20] PDuckworth commented on #27
We came to the same conclusion. :'(

[2015-03-25 19:29] cdondrup commented on #27
I assume that fixes the problem. Please re-open if it doesn't or open a new one if you discover more ;)

I'll open a dedicated issue to implement a custom check if the values are bool or not to prevent this from happening in the future. Thanks for beta testing this :D

[2015-03-25 19:29] #27 closed

[2015-03-25 19:30] cdondrup opened #28 "[QTC] Implement custom check for arguments"
Arguments like `validate` and `no_collapse` have to be bool. Implement custom check to throw exception if they are not.

[2015-03-25 19:31] cdondrup opened #29 "[QTC] Change return type to string instead of np.array"
See #25

[2015-03-30 11:28] yianni opened #30 "Allow client to optionally request for which objects QSRs will be created"
Allow client to optionally request for which objects QSRs will be created. If it is empty then revert to default behavior. Also related to #26

[2015-03-30 11:51] yianni opened #32 "check that custom check on qsrs_for work properly"
I have a feeling that custom checks return is buggy due to passing by reference. Test and fix if that's the case.

[2015-03-30 12:23] hawesie opened #34 "[QSRlib] Add rostests"

[2015-03-30 12:51] #30 closed

[2015-03-30 12:51] #32 closed

[2015-03-30 13:02] yianni commented on #26
closed by #33

[2015-03-30 13:02] #26 closed

[2015-03-30 13:03] yianni opened #35 "[QTC] Take advantage of #33"
Make QTC take advantage of #33 enhancements

[2015-04-01 17:47] cdondrup commented on #14
I assume this didn't cause any problems as we all ran the lib and no one complained ;)

[2015-04-01 17:47] #14 closed

[2015-05-05 10:57] cdondrup opened #40 "[rcc3] dc and po at the same time?"
We (@pet1330 and I) just had a look at the rcc3 output of the example client:

[code]

How can o1,o3 be disconnected and o3,o1 be partially overlapping at the same time? Also the objects shouldn't overlap looking at the coordinates and bounding boxes. Something might be wrong with the logic here.

[2015-05-05 12:35] yianni commented on #40
Hmm, valid question. I will check it out when I find a chance.

[2015-05-06 15:15] yianni opened #42 "bounding box most "common" format"
At the moment the bounding box returned is in the format of `[bottom_left_x, bottom_left_y, top_right_x, top_right_y]`. This has created confusion to me as usually bounding boxes are in vision at least represented in terms of `top_left, bottom_right` coordinates; and hence I am thinking of changing it as such at some point.

So any views on that?

[2015-05-06 15:33] yianni commented on #42
Bah, wrong epiphany. Coffee deprivation.

[2015-05-06 15:33] #42 closed

[2015-05-07 15:09] #40 closed

[2015-05-12 11:59] pet1330 opened #45 "[QSRlib] Implement user custom config file"
As described in [this](https://github.com/strands-project/strands_qsr_lib/pull/43#issuecomment-101237270) comment. The ability to pass QSR arguments using a user defined config file.

[2015-05-12 13:39] yianni commented on #45
My idea for this would be that there is one "default" ini file where appropriate QSRs will read from their sections their ini settings. Something like:
[code]

This can be overwritten on the request/constructor by passing a user defined path/filename ini file. The example client could the run as:
[code]

@pet1330 @cdondrup Thoughts? As it will most certainly require changing somethings in the QSRs

[2015-05-12 14:14] pet1330 commented on #45
Sounds good, I think the ability to set parameters per request should be kept and that if parameters are set, then they should be used over the ones defined in the config file.

Also would it be worth defining a return type at the bottom? Allowing people to request the relations as a string, dictionary , list, etc...

[2015-05-12 19:15] cdondrup commented on #45
Sounds good. I will still mainly use dynamic parameters, to be able to change them at run time but having default ones sounds great. Regarding the return type, let's stick with strings and leave it to the client to parse them into the format they need. If you change them using a config file, not all client programmes might be aware and will therefore fail because they expect a different type. I wo

[2015-05-13 08:45] yianni commented on #45
I think that both cases are possible (initialise from file and pass/change at runtime via the request).

With respect to the return type, my thoughts were what Christian described above. Both developers and users will expect a particular type and anything else will create problems. There might be functions provided that change the type but I am not really keen on promoting them. In fact I would pr

[2015-05-13 10:02] yianni opened #48 "[QSRlib] Change the qsr member from string to dictionary"
I am really keen on changing the qsr field from default string to dictionary for various reasons, including better support of QSRs that consist of multiple singleton QSRs, being able to concat different QSRs etc.

Any thoughts/objections to that before I go ahead and do it?

[2015-05-13 14:53] yianni commented on #45
see #49

[2015-05-14 13:10] #28 closed

[2015-05-14 13:27] #25 closed

[2015-05-14 13:34] yianni commented on #29
Closed by #37

[2015-05-14 13:34] #29 closed

[2015-05-14 14:24] #21 closed

[2015-05-14 14:29] yianni commented on #35
Closed by #38

[2015-05-14 14:29] #35 closed

[2015-05-14 15:06] #48 closed

[2015-05-14 15:07] yianni commented on #45
closed by #49

[2015-05-14 15:07] #45 closed

[2015-05-14 15:10] yianni opened #50 "[QTC] Make compliant with --future from #49"
As --future returns QSR dictionaries, the only QSR not complying is QTC as there were some things not clear to me when I try to edit it.

Either @yianni to have another look or @cdondrup

Not high priority at the moment.

[2015-05-14 15:11] cdondrup commented on #50
I can do that.

[2015-05-14 15:59] cdondrup opened #53 "[QTC] move custom arguments from object creation to service call"
Currently the `quantisation_factor`, `validate`, `no_collapse`, and `distance_threshold` are added to each object. This is unnecessary and could go into the service calls using the `ini` argument if this would support strings or as separate arguments.

[2015-05-14 16:23] yianni commented on #53
Sure, just bear in mind that this would work if they remain constant for all objects and for all timesteps. If that's the case it could be done.

The ini argument is just a filename, so they can be read from a file. If you don't want them to be read every time a call is made (agree bad idea), then the `dynamic_args` should be used... Haven't used it and tested it, but I added it cause I could fore

[2015-05-14 16:54] yianni commented on #50
@cdondrup Just to ask how are you thinking of doing it? My feeling would be something as follows: qtcb `{"qtcb": <relation>}`, qtcc `{"qtcc": <relation>}` and qtcbc `{"qtcb": <relation>, "qtcc": <relation>}`.

How does this sound? Let me know when you think about it.

[2015-05-14 18:27] yianni commented on #53
You can also change them at runtime per request (or use the last ones set if nothing passed). See for example #54

[2015-05-14 18:53] yianni commented on #53
And while at it, would it be possible please to change the default to be no-collapse. I think it is confusing to get different number of outputs for inputs. I think validate is by default false. If not the same applies to it.

[2015-05-14 22:33] cdondrup commented on #53
Even though it might confusing, I can't highlight enough that that would result in invalid qtc representations. IMHO, if you know qtc, using no_collapse and not validating it would be more confusing and if you don't know qtc, you won't be using it. I'm sorry I have to be that frank but I don't want to make that the default.

[2015-05-15 08:27] cdondrup commented on #50
This is not really the purpose of qtcbc. If I wanted that I could just get qtcb and qtcc. Deciding when to transition is quite important here. So it will be `{"qtcbc": <relation>}`.

[2015-05-15 09:02] yianni commented on #50
Hmmm. Are these QTCs here different that what is described in section 3 of a later paper from Van de Weghe 2004, which provides a concise and clear description of QTC2d [link](http://arxiv.org/pdf/1402.3779.pdf).

[2015-05-15 09:06] cdondrup opened #55 "Change config file to use yaml format"
This is normally used in ROS and also easily loadable.
Just a suggestion.

[2015-05-15 09:25] cdondrup commented on #50
qtcbc is because that was our invention. For qtcb and qtcc I currently only use two points in time instead of three which is a more simplified version of it.

[2015-05-15 09:28] cdondrup commented on #50
This is what I am doing: http://www.mdpi.com/2218-6581/4/1/63

[2015-05-15 09:30] yianni commented on #50
OK, I will have a look. Just the name implies that qtcbc = join(b, c). Anyway, do as you see fit.

[2015-05-15 09:31] cdondrup commented on #50
Which is what it does ;) But with a bit of logic behind it.

[2015-05-15 10:26] yianni commented on #55
Yes possibly. Certainly more powerful and flexible but it also depends on how easy it to write, which seems a bit more complex than an ini file [yaml example](http://www.yaml.org/start.html). Neverthless, probably I will change it to yaml when I get some time.

[2015-05-15 10:36] cdondrup commented on #55
For the current config file it would be:

[code]

which would create this dict:
[code]

Like python this is indentation sensitive but I find it quite easy to read and write.

[2015-05-15 11:08] yianni commented on #55
Yes I know, that was my thoughts also and I already had a look before hand but wanted something quickly. It is possible with ini files, but not using configparser, but rather something like [configobj](http://www.voidspace.org.uk/python/configobj.html). Unfortunately, it seems that it does not come by default installed in a standard python environment, and hence I did not want such a dependency. S

[2015-05-15 11:11] yianni commented on #55
Of course the alternative would be to use [configobj](http://www.voidspace.org.uk/python/configobj.html). See also [example here](http://www.voidspace.org.uk/python/configobj.html#reading-a-config-file).

All depends which one is easier to write (probably the same), or to parse.

[2015-05-19 08:59] yianni opened #58 "[cone_direction] Comply with --future"

[2015-06-07 18:01] #55 closed

[2015-06-10 15:30] #50 closed

[2015-06-10 16:06] #58 closed

[2015-06-15 16:13] #53 closed

[2015-06-15 16:14] yianni opened #64 "Fix MOS in the example_ros_client"
change `q=args.quantisation_factor` to `dynamic_args={"quantisation_factor": args.quantisation_factor}`

[2015-06-15 16:30] #64 closed

[2015-06-15 16:38] yianni opened #66 "trigger new public release"
@marc-hanheide I am quite happy with the current state of the QSRlib, so if @cdondrup also agrees I would like to trigger a new release as there are significant differences and enhancements from the latest ones.

Also (probably my fault as it has my signature) for some reason if you look in the [releases page](https://github.com/strands-project/strands_qsr_lib/releases) it gives as "latest release

[2015-06-15 16:40] yianni opened #67 "sync standalone example with the example_ros_client one"
The standalone example is far behind from the ros one. Rewrite so that they can be in sync with minimal effort.

[2015-06-16 09:04] marc-hanheide commented on #66
Goto http://strands-project.github.io/rosdistro/ enter `strands_qsr_lib` and hit release.

[2015-06-16 09:07] marc-hanheide commented on #66
This will tag a new release and trigger the build farm to build packages after I or someone else with the right permission has approved the release.

[2015-06-16 09:10] #66 closed

[2015-06-18 19:04] yianni opened #70 "[QSRlib-core] `Object_State.return_bounding_box_2d` is broken when width or length are nan"
`Object_State.return_bounding_box_2d` in `world_trace.py` is broken when width or length are nan, as it returns nan-bounding boxes and since the qsrs (RCCs in particular) have no check they return non-sense QSRs.

[2015-07-21 14:24] cdondrup commented on #34
Done for QTC: see #68

For the others, @yianni, @PDuckworth, and @pet1330 have to write some.

[2015-07-21 14:26] cdondrup opened #73 "[qsr_prob_rep] Add pseudo transitions and emissions"
Currently not supported which leads to `-inf` loglikelihoods if the state chains is not producible by the given HMM.

[2015-07-21 14:32] cdondrup opened #74 "[qsr_prob_rep] Add arg_distance as easy example for new QSRs"
The QTC parts are rather unnecessarily complicated for most of the other QSRs as they implement the transitions from the CND. `arg_distance` should serve as an easy to recreate example for new QSRs.

[2015-07-21 14:35] cdondrup opened #75 "[qsr_prob_rep] Add easy conversions script example"
Showing how to use raw data and the qsr_lib to generate input for the qsr_prob_lib. Currently something like this can be found here: https://github.com/strands-project/strands_hri/blob/hydro-devel/hrsi_representation/scripts/offline_qtc_creator.py which uses a lot of stuff that is not particularly easy to read as an example.

[2015-07-21 15:00] yianni opened #76 "[qsr_prob_rep] Discussion"
@cdondrup Excellent initiative and would be useful I think. I have a few questions:
Can you copy and paste the README again or the message from the earlier pull request...
Can you copy and paste the link to your branch, really busy now but I would like to see the code about some things...

The two key points I would like to ask are:
a) standalone use would be really great to be honest.
b) can you

[2015-07-21 15:04] cdondrup commented on #76
Hi the readme is here: https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_prob_rep/README.md and the code is already merged, so you can just have a look in the repo.

Currently it only uses the string versions of the QSRs but since only QTC is there yet it shouldn't be too hard to change that to use the dict as well. I'll open an issue for that. I have to focus on other things now,

[2015-07-21 15:05] cdondrup opened #77 "[qsr_prob_rep] Support dictionaries created by --future"

[2015-07-21 15:07] cdondrup opened #78 "[qsr_prob_rep] Add particle filter for online use"
See: http://strohel.github.io/PyBayes-doc/filters.html#particle-filter-family for example

[2015-07-21 15:09] yianni commented on #76
Merge was quick! Was it tested?

Anyway, yes would be great to change from str to dict and I assume since you are the sole user at the moment there is no urgency.

[2015-07-21 15:09] #76 closed

[2015-07-21 15:11] cdondrup commented on #76
I wrote unit tests checking the current functionality and since it just added code I took the liberty of merging it.

[2015-07-21 15:45] #70 closed

[2015-07-27 08:58] #74 closed

[2015-07-31 13:12] yianni opened #80 "[World_Trace] bugged get_at_timestamp_range(self, start, finish)"
This function is bugged.

[2015-07-31 13:57] #80 closed

[2015-08-04 15:44] yianni opened #82 "[qtcb] Calculated with t or t-1"
@cdondrup
Quick question: qtcb(o1, o2) is calculated with pose of o2 at t or t-1? Relevant bits below but `pos_l[-2]` not helping...
"""python
k = [input_data.trace[t0].objects[o1_name].x,
                             input_data.trace[t0].objects[o1_name].y,
                             input_data.trace[t1].objects[o1_name].x,
                             input_data.trace[t1].objects[o1_name].y]

[2015-08-04 15:50] yianni commented on #82
Nevermind, I think I got it, it is with t-1... why `pos_l[-2]` when `pos_l[-2] is pos_l[0]`?

Can still confirm though :).

[2015-08-04 15:54] cdondrup commented on #82
It is calculated for `t`. In [here the double cross is constructed](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L155-L228) for `t-1` and in [this bit](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L263-L307) The qtc state for the change from `t

[2015-08-05 18:48] cdondrup opened #83 "[QSRlib] What is the dictionary representation a.k.a future good for?"
I am currently testing a new probabilistic version of arg_distance (opening a PR soon) which I want to get together with my QTC relation. I thought, since `future=True` returns a dict with the name of the QSR and the computed relations, that the future option would let me request multiple QSR with one service call, getting the response in a merged dict. Looking at [how the QSR for the current requ

[2015-08-06 08:40] yianni commented on #83
Yes that was the point of trying to push to `--future` and I already have the merging function so I can have a look at some point today or tomorrow.

[2015-08-06 08:57] yianni commented on #83
Find below the merge function. You can still go ahead with what you want to do, it's only gonna be slower by: n_qsrlib_requests x (t_transfer + t_setup)
[code]

and here a test:
[code]

[2015-08-06 09:13] cdondrup commented on #83
That's brilliant, thanks! I'll give it a go.

[2015-08-06 09:14] yianni commented on #83
One sec... the merge I have given is for merging smth else. Give me 5 and I will give you the one you need.

[2015-08-06 09:17] cdondrup commented on #83
OK, cheers.

[2015-08-06 09:28] yianni commented on #83
[code]

Test:
[code]

[2015-08-06 09:30] yianni commented on #83
Bear in mind it works only with future and there is no check in the function itself as the check should be elsewhere.

[2015-08-06 09:31] cdondrup commented on #83
I'll do my best ;)

[2015-08-06 10:40] cdondrup opened #84 "[QSRlib] request_qsrs not thread safe"
When requesting qsrs from multiple programmes at the same time, [the reset command](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib/qsrlib.py#L161-L165) is not thread safe and sets the request message to `None`. What is that good for in the first place? The [values are always overridden](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qs

[2015-08-06 10:47] yianni commented on #84
TL'DR: Yes remove.

The original idea was that if no data was passed then the previous data would be used... pseudocode example
[code]

I opted out to never use that as it is a very dangerous thing to get non-sense results and difficult to debug from the side of the user, hence I always "force" the passing of data at every request now (or at least I hope I have done so by always overwriting them),

[2015-08-06 10:48] cdondrup commented on #84
OK, will fix.

[2015-08-06 10:48] yianni commented on #84
Basically it was aimed to have the `for` loop on the client side rather than on the server. I prefer having it on the server side though for reasons above.

[2015-08-06 10:55] cdondrup commented on #84
Makes sense. But I agree that the resulting risks outweigh the benefits. I'll remove it.

[2015-08-06 10:55] yianni commented on #84
OK, I had a look on the reset in  a bit more detail... Memory efficiency? As data should be released and memory should be freed, without it the previous data passed remain in the server memory.

[2015-08-06 10:57] cdondrup commented on #84
But I don't need the member variable at all then, do I? I can just remove `self.timestamp_request_received` and `self.request_message` and the garbage collection should take care of that. Shouldn't it?

[2015-08-06 10:57] yianni commented on #84
So basically reset is default True for memory efficiency... A typical cycle should look like:
[code]

`reset=False` would keep previous data allowing computation of new qsr on same data (bad and dangerous thing for reasons we agreed above)

[2015-08-06 10:58] yianni commented on #84
1min. Need to look in more detail.

[2015-08-06 11:03] cdondrup commented on #84
OK, I removed them and not on;ly does it still work as intended but is also thread safe now. If you don't think it's a problem then I'll commit it like that.

[2015-08-06 11:03] yianni commented on #84
Yes, since `for loop` will be on server side these variables are no longer needed to be members and can have local function scope so that garbage collection will free them on return.

[2015-08-06 13:33] #83 closed

[2015-08-06 13:33] #84 closed

[2015-08-06 13:45] yianni opened #86 "[QSRlib] expose to public and make static __merge_world_qsr_traces"
Argh forgot to do one last change I wanted, but nvm for now... just a reminder for me.

Expose to public and make `@staticmethod` the [`QSRlib.__merge_world_qsr_traces`](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib/qsrlib.py#L140) method.

[2015-08-06 13:47] yianni commented on #86
PS: Reason being that this methods can be used for other things to, e.g.
[code]

[2015-08-06 14:16] yianni opened #88 "[QTC] rectify timestamps"
I've noticed that QTC timestamps do not match a World_Trace object timestamps. This is expected in default behavior, i.e. `validate is True` and `no_collapse is False` (or either of the two conditions).

However, it would be nice/useful when `validate is False` and `no_collapse is True` to get back the right timestamps. Here is a function below that rectifies them:

[code]

Can either be done clas

[2015-08-06 14:42] #86 closed

[2015-08-06 14:48] cdondrup commented on #88
If this is only the case for qtc then it should got in here: https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py

I can add that and call it when `validate=False` and `no_collapse=True`.

[2015-08-06 14:54] yianni commented on #88
Sounds good to me, yes it is only for QTC atm. Ideally IMO it should "automatically" return the rectified timestamps when these conditions are met, but I am happy also if you decide it shouldn't. Also, happy where you want to insert it (QTC abstractclass sounds the most reasonable if automatic, otherwise the above function can go in utils to be exposed).

[2015-08-06 15:15] cdondrup commented on #88
I'll add it to qtc tomorrow most likely and make it automatic as I don't see any problems with that.

[2015-08-07 08:31] yianni opened #89 "[QSRlib all] Documentation"
Already have written some docstrings for most of the QSRlib that I need to push.

This issue servers as a general reminder to all contributors.

[2015-08-07 10:01] yianni opened #90 "[QSRs] Simultaneous computation of multiple QSRs does not allow for individual `dynamic_args`"
The new feature of computing multiple QSRs with one service call does not allow to pass individual parameters. E.g. `quantisation_factor` for `qtcbs` and `mos` are forced to use the same. These keys need to be uniquely renamed. In fact, all parameters belonging to a QSR should have a namespace. Easiest way to do this is to prefix with their short unique name.

[2015-08-07 10:08] yianni opened #91 "[MOS] MOS namespace of dynamic args"
Use dictionary namespace, see #90 for discussion.

[2015-08-07 10:10] yianni opened #92 "[QTCS] QTCS namespace of dynamic args"
Make `dynamic_args` of QTCS to have a namespace. Easiest resolve, to prefix them with `qtcs_`, `qtcbs_`, etc as needed.

[2015-08-07 10:14] cdondrup commented on #92
I didn't think of that. Well spotted. Will fix.

[2015-08-07 10:15] cdondrup commented on #90
Regarding the actual name space, so we both implement the same, should it be:

[code]

or just

[code]

I do like the first one better as it appears more pythonic to me and prevents me from prefixing 5 parameters for every qtc variant.

[2015-08-07 10:16] yianni commented on #92
Thanks. Will do the same for MOS as soon as I can.

[2015-08-07 10:16] cdondrup commented on #92
Once I fix it for qtc I can fix it for mos as well if you like.

[2015-08-07 10:18] yianni commented on #90
+1 on first also without doubt, more "effort" but more dynamic. String prefix less effort but less dynamic.

[2015-08-07 10:19] yianni commented on #92
As you wish. Can you have the dict key as `qtcs` though?

[2015-08-07 10:19] yianni commented on #92
Or `qtcbs`, `qtcs`, `qtcbcs` if they are specific.

[2015-08-07 10:19] cdondrup commented on #92
Of course.

[2015-08-07 10:20] yianni commented on #92
Great thanks.

[2015-08-07 10:24] cdondrup commented on #90
While altering all this, I think it would make sense to also change the names of the QSRs in the example client to the new short versions, i.e. `qtcb` to `qtcbs`. I can quickly do that while implementing the namespaces because then I can just take that string as the namespace as well.

[2015-08-07 10:27] cdondrup opened #93 "[ARGD] namespace of dynamic args"
As per #90 just to consistent.

[2015-08-07 10:28] yianni commented on #90
+1

[2015-08-09 11:19] cdondrup opened #96 "[QSRLib] Remove empty print from ros server"
[This](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/scripts/qsrlib_ros_server.py#L39) has annoyed me ever since and I don't see its use really. Can we please remove this?

[2015-08-10 08:13] yianni opened #98 "[QTCS] Always prints deprecation warning even if correct structure of dynamic args is used"
Always prints deprecation warning even if correct structure of dynamic args is used (introduced in #94)

[2015-08-10 08:14] #90 closed

[2015-08-10 08:14] #91 closed

[2015-08-10 08:14] #92 closed

[2015-08-10 08:14] #93 closed

[2015-08-10 08:17] yianni commented on #98
[I like to stare at it.](http://www.imdb.com/title/tt1234548/)

[2015-08-10 08:25] yianni commented on #96
[I like to stare at it.](http://www.imdb.com/title/tt1234548/)

[2015-08-10 09:35] yianni commented on #98
I can fix that @cdondrup

[2015-08-10 09:40] cdondrup commented on #98
I think I know the problem, I'll fix it.

[2015-08-10 09:40] yianni opened #101 "[QSRs] Drop `qsr_type` and refactor `qsr_keys` to `unique_id` (or smth in these lines)"
Refactor `qsr_type` to `longname` and `qsr_keys` to `shortname`.

[2015-08-10 09:47] #96 closed

[2015-08-10 09:47] yianni commented on #96
closed by #99

[2015-08-10 09:49] yianni opened #102 "How can I add another label?"
How can I add another label? Want one called 'danger' for issues that can be dangerous to handle (e.g. #101 )

[2015-08-10 09:52] pet1330 commented on #102
Click on issues, then at the top there is a tab called Labels. Within that there is a button 'New label' on the right

[2015-08-10 10:01] cdondrup commented on #102
Works, didn't know that either :)

[2015-08-10 10:02] cdondrup commented on #96
Thank you :)

[2015-08-10 10:07] yianni commented on #102
Thanks.

[2015-08-10 10:07] #102 closed

[2015-08-10 10:08] cdondrup commented on #89
What exactly do you mean by docstrings? If you give me an example, I'll add them for my QSRs as well.

[2015-08-10 10:12] cdondrup commented on #101
Why do we need both? Don't they both have to be unique? If no, I suggest something like `qsr_unique_identifier` instead of `longname` just to make clear that it has to be.

[2015-08-10 10:30] yianni commented on #101
TL;DR: We don't anymore; and don't mind if we keep one of the two (probably the shortname makes more sense nowadays).

It started with long name but then we have been using them with shornames and via dictionary remapping everytime. The shortname was introduced necessary for future as having the long name as key would be fairly masohistic.

Now, the benefit of long name is that it is easier to fin

[2015-08-10 10:32] yianni commented on #101
Yes, good idea with including unique in the name, `unique_name` or `unique_id` is shorter and serves teh same purpose ;).

[2015-08-10 10:40] yianni opened #105 "[Object_State] Use length for z-axis and height for y-axis"
Can't stretch enough how **dangerous** this change is.

At the moment [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_io/world_trace.py#L42):

[code]

while it is much more senseful and standard that the y-size is height and the z-size is length.

But, as said at start can't stretch how **dangerous** this change will be to both QSRlib developers and to user

[2015-08-10 11:00] yianni opened #106 "[RCC3, RCC8] Can they have a quantisation factor like RCC2?"
@pet1330 Can RCC3, RCC8 have a quantisation factor like RCC2 like in #100 ? Can't think of an easy way to do so if even possible?

[2015-08-10 11:42] pet1330 commented on #106
from a technical point of view it wouldn't be too hard to impliment, but I don't know if they should have it as they have states such as EC which would never be used if quantisation factors were introduced. But assign this issue to me and I'll have a think about it.

[2015-08-10 11:46] cdondrup commented on #106
Can't assign you because you have to be in a team that is listed under collaborators of this repository. I cannot create teams any more as my owner status was revoked at some point before the last review. Maybe @marc-hanheide or @hawesie can create a `strands_qsr_lib_collaborators` team to include you since you are involved in the development quite a lot. The you could be assigned.

[2015-08-10 12:08] pet1330 commented on #105
Although this is not only a ROS library, it is going to be used prodominently by people using the ROS system, so it might be best to align it with the [ROS Coordinate Frame Conventions](http://wiki.ros.org/geometry/CoordinateFrameConventions#Orientation). Although this may affect some current implementations, it would at least be a standard to follow.

so:

| Label| ROS Standard | current  | Yiann

[2015-08-10 12:20] yianni opened #108 "[QSRlib] Provide an easier way and some checking for uniqueness in the registration of the QSRs"
QSRlib should provide some checking that the QSR `unique_id` and the corresponding classes are unique.

[2015-08-10 12:24] yianni commented on #106
@marc-hanheide @hawesie ^^ :+1:

[2015-08-10 12:25] yianni commented on #106
Yes it is because of these "additional/intermediate" states between dc and c that I can't think of a way to get a q-factor for these two QSRs.

[2015-08-10 12:34] yianni commented on #105
I see the reasoning but I have a feeling this will be enormously confusing especially with vision people.

Of course I am open to suggestions, hence the initial question. Aim is to find the easiest and most "standard" way of representing this (we might already have it).

[2015-08-10 12:38] yianni commented on #105
(geometry_msgs)[http://wiki.ros.org/geometry_msgs] could have been a starting point but does not have anything regarding "size".

Also atm (although I don't think anyone has used it so it is safe to change) the fields kept are roll/pitch/yaw, geom_msgs uses quaternions; that might be something to change for combatility.

[2015-08-10 12:42] yianni commented on #105
Also see the (PCL API Public Attributes)[http://docs.pointclouds.org/1.7.1/classpcl_1_1_point_cloud.html]

[2015-08-10 12:44] marc-hanheide commented on #106
@pet1330 is now a contributor via @strands-project/strands_qsr_lib-contributors

[2015-08-10 13:11] cdondrup commented on #108
This is a prime example for a unit test as well, addressing #34

[2015-08-10 17:19] yianni opened #110 "Have a dev branch."
@marc-hanheide @hawesie

I think we need a dev branch here also as it can occur (like at this time) that PRs hold development or will make it too complicated to deal with conflicts and duplicating work.

What are the complications for having an extra dev branch, most notably with respect to jenkins?

[2015-08-10 17:20] yianni commented on #110
Quoting @cdondrup in #109 . Closing the ticket and abandoning the idea of a dev branch.

[2015-08-10 17:20] #110 closed

[2015-08-10 17:25] marc-hanheide commented on #110
Not quite sure I fully understand the issue here. You could perfectly have a second devel branch. But Jenkins only supports one release and one devel branch. PR support and push-triggered builds only work on the devel branch. Releases work on the release branch. Usually, we have both being the same so we test continuously before releasing. We should stick to that IMO. You could configure another e

[2015-08-10 17:29] yianni commented on #110
Thanks @marc-hanheide for the reply. Well, there is no dev branch for this repo; but I do agree with @cdondrup that it will be a nightmare to maintain and keep in sync both. So let's leave it to only release master branch. If things really get problematic (which I doubt as it is kind of a the first time that development has to wait for a bit for a PR to get merged first) then we can reconsider if

[2015-08-10 17:33] pet1330 opened #111 "[RCC*] Abstract RCC"
see #109

Create a pull request for RCC when #107 has been resolved.

[2015-08-10 17:36] yianni commented on #108
PR #107 addresses the unittest also.

[2015-08-10 18:30] yianni opened #112 "[MOS] `qsrs_for` does not work well in the call with multiple qsrs"
Reminder to myself.

**This cannot be done till PR #107 is merged.**

Change [this](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_abstractclass.py#L43) and [this](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_moving_or_stationary.py#L40) to make MOS compliant in a multiple QSRs call when `qsrs_for` are given

[2015-08-10 18:39] yianni opened #113 "[QSRs] Deprecate and remove `include_missing_data`"
What is the story with `include_missing_data`. Is it working and is it still needed or does it add an additional layer of possibly unneeded complexity?

[2015-08-10 18:52] yianni commented on #113
When `include_missing_data=True` it allows creation of empty states in the `World_QSR_Trace.trace` in order to maintain the "same" number of timestamps as in `World_Trace.trace`.

a) `include_missing_data` is a bad name; `allow_empty_states` is probably a better one.
b) don't see the point of it as such assumption is violated in a number of currently implemented QSRs, e.g. MOS, QTC*S

Might want t

[2015-08-11 11:48] yianni opened #114 "[QSRs] Also allow passing of `qsrs_for` in the `dynamic_args` within QSR namespace"
Allow to pass `qsrs_for` in the QSR namespace of `dynamic_args`. Still allow `qsrs_for` to be passed in `kwargs` but `dynamic_args` namespace takes precedence.

Waits for #107
Required as part of #112
This issue blocks #111

[2015-08-11 11:48] yianni commented on #111
Blocked also by #114

[2015-08-11 12:35] cdondrup opened #115 "[qsr_lib] Version 1.0?!"
About the backward compatibility, if we merge #107 and if how the `qsrs_for` work is changed as in #114 then we might consider making tabula rasa  and increase the version number to 2.0 and also scrap all the deprecated function calls and assignments. With all the recent changes it becomes a lot to maintain as you rightly stated, @yianni, so we might as well get rid of everything that is no longer

[2015-08-11 12:37] cdondrup commented on #113
I never knew what it was good for so I didn't implement it right I guess. I assumed it triggers some black magic in the abstract class ;)

I don't need anything like this.

[2015-08-11 12:38] cdondrup commented on #115
We could also switch to the dict based output and scrap the strings which would remove some overhead as well.

[2015-08-11 12:42] pet1330 commented on #115
For version 2.0 it might be worth creating a milestone / release for the current version. This way people who are using it will still be able to use it, whilst people wanting to upgrade to 2.0 can just pull the most recent version.

[2015-08-11 12:43] yianni commented on #113
Don't think anyone does. Will deprecate, actually remove. (realisedI was talking with myself in the first two posts, hmmm).

[2015-08-11 12:45] cdondrup commented on #115
Could just release it as it is now, this would create a tag which people can checkout when downloading the repo or can just install the specific version via apt-get.

[2015-08-11 12:45] cdondrup commented on #113
Those are the most fruitful discussions some times ;)

[2015-08-11 12:49] yianni commented on #115
TL'DR: In favor of all said above, but we are still far from 2.0 version. I would prefer to work towards a 1.0 version first.

In more detail...

Given we are in the 0 cycle, I would aim towards a v. 1.0 at first, although if we want to jump straight to 2.0 I would also be happy with that given that 1.0 usually follows the principles of the 0. cycle.

Just a few things on top of my head for v2.0:

[2015-08-11 12:51] yianni commented on #115
On a side comment anyone has a clue why if you go to the [releases page](https://github.com/strands-project/strands_qsr_lib/releases) the *latest* release defaults always to 0.0.4?

[2015-08-11 12:53] pet1330 commented on #115
That's just the last time a release tag was added.

[2015-08-11 12:54] cdondrup commented on #115
I just realised that the current version is 0.1.? So it would most likely be a 0.2.0. I thought we already were at 1.0.0, my bad.

[2015-08-11 12:55] yianni commented on #115
I see. Thanks. Needs to be changed at some point then I guess.

[2015-08-11 12:57] yianni commented on #115
No worries. Yes we are still in the 0.x cycle, and next release after the merge of #107 should be 0.2.

No harm having a 1.0 milestone though. I'll go ahead and create one and feel free to add issues associated with it.

[2015-08-11 12:57] cdondrup commented on #115
The release you are talking about is one that you manually did via github at somepoint: https://help.github.com/articles/creating-releases/

The real release via jenkins is not reflected here. Usually it is the highest tag number. See here: https://lcas.lincoln.ac.uk/jenkins/portlet/dashboard_portlet_3038/ for jenkins releases.

[2015-08-11 12:58] yianni commented on #115
Thanks. Crap. Anyone knows how to get rid of it?

[2015-08-11 12:59] cdondrup commented on #115
You can release arbitrary tags as well, you can just add a new one for tag 0.1.1 for example. Not sure how to delete it.

[2015-08-11 13:00] pet1330 commented on #115
On the repository homepage, click the release link. On the Release page, click the name of the release you wish to delete.In the upper-right corner of the page, click Delete.

[2015-08-11 13:01] yianni commented on #115
[Milestone QSRlib v1.0](https://github.com/strands-project/strands_qsr_lib/milestones/QSRlib%20v1.0)

[2015-08-11 13:01] yianni commented on #115
OK let me see how this works.

[2015-08-11 13:02] yianni commented on #115
Is that gonna mess up jenkins?

[2015-08-11 13:03] cdondrup commented on #115
Nothing to do with jenkins.

[2015-08-11 13:03] yianni commented on #115
Great. Finally, beatiful, whole tree is expanded now.

[2015-08-11 13:05] yianni commented on #115
So, rename to v1.0 linking to milestone? (or close and make a new issue).

[2015-08-11 13:07] pet1330 commented on #115
I'd also create a 2.0 milestone, and go through the current issues and assign them to either V1.0 or V2.0 so that we know which issues should take priority. (I would do it, but I don't have permissions to)

[2015-08-11 13:08] cdondrup commented on #115
What Pet said, create a milestone v0.2.0 and then we add everything that voids backward compatibility in there.

[2015-08-11 13:09] yianni commented on #115
Regarding this, I am already changing in a branch from the current in #107. Not sure how 1 will work with it after merged (I hope it won't recommit the same commits). Alternative as 2 I could merge/push changes to #107, which I would not prefer as #107 has a specific task which on top and most importantly is not backward-combatible.

[2015-08-11 13:10] yianni commented on #115
You mean v2.0 or v0.2.0?

[2015-08-11 13:11] pet1330 commented on #115
V2.0 as we're jumping to v1.0 for the release. (I think)

[2015-08-11 13:11] cdondrup commented on #115
That is not what I meant with the second point. I meant that you can merge any PR now as long as they adhere to the current version and format of lib. Once we decide to merge #107 you rebase your changes ontop the current state of the lib and make the necessary changes to eventually added functionality so it all conforms with the previous changes in #107. But that is up to you.

[2015-08-11 13:12] yianni commented on #115
The way I see it. Next release will be 0.2.0 after #107 (and maybe a few others). v1.0 requires more work. v2.0 will be deprecating things and make it non-backward compatible to v1.0.

[2015-08-11 13:13] cdondrup commented on #115
regarding the version numbers, my opinion:

v0.1.2: release of current state of lib
v0.2.0: New version that is not backward compatible with current one
v1.0.0: Long term goals

[2015-08-11 13:13] yianni commented on #115
That's how I think too (see post above). v2.0 is a bit far to worry about... I would worry about 0.2 and v1.0.

[2015-08-11 13:15] yianni commented on #115
I see. Well I am changing on an offspring branch from #107 . Will need your help with something so I will push in my repo soon and you can do something. Will let you know there.

[2015-08-11 13:16] yianni commented on #115
[Milestone v0.2](https://github.com/strands-project/strands_qsr_lib/milestones/QSRlib%20v0.2)

[2015-08-11 13:41] cdondrup opened #116 "[qsr_lib] Switch from pickle to json"
I personally never use pickle and don't like that you can just pickle anything and send it as it is highly ambiguous and not very reusable. If we want to have a C++ client for the lib for example, I expect to run into serious problems. Also: http://www.benfrederickson.com/dont-pickle-your-data/

I propose to switch to json as I already do [here](https://github.com/strands-project/strands_qsr_lib/b

[2015-08-11 13:51] yianni commented on #114
Following [branch](https://github.com/yianni/strands_qsr_lib/tree/qsrs_for_in_dynamic_args) resolves this.

@cdondrup Have a look on the QTCs as I removed the raise thing.

**Blocked** till #107

[2015-08-11 13:55] yianni commented on #116
Need to meditate on this. I will get back to you as it is not majorly urgent, is it?

From what I recall pickle is used for serialization during ROS service call and nowhere else. Have you seen it anywhere else? Anyway if we agree to do so (need to read and think about it before making an opinion), I would probably go for 0.3 or something as I doubt that this particular internal mechanism has been

[2015-08-11 13:55] yianni commented on #116
Or 0.2.x

[2015-08-11 13:56] cdondrup commented on #114
That's fine, I believe I copied that from somewhere any way.

[2015-08-11 13:58] cdondrup commented on #116
It's not urgent, no. Just thought that this needs to be done at some point if we want to enable the use of the lib via C++ as well as afaik pickle only serialises python objects.

[2015-08-11 14:31] yianni commented on #89
Got so many conflicts... Will push a doc PR once #107 and resolve them one way or another.

[2015-08-11 14:33] yianni commented on #112
Covered by #114

[2015-08-11 16:37] yianni opened #118 "[QSRs] Make monadic and dyadic QSR abstract classes"
Having monadic and dyadic QSR abstract classes saves a lot code repetition, e.g. [`def custom_checks_for_qsrs_for`](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_rcc2_rectangle_bounding_boxes_2d.py#L42) is the same implementation for all dyadic.

**Reminder:** Use one file called `qsr_arity_abstractclass.py`; classes inherit from `QSR_Abstractclass`.

[2015-08-11 16:59] yianni opened #119 "[QSRlib_Request_Message] is a complete mess"
As title says it is a mess. Both class methods `make` and `set_input_data` need to be cleaned up.

[2015-08-11 17:05] yianni opened #120 "Re-release before merging PR #107"
*Friendly Reminder*

Re-release before merging PR #107 which is non-backward.

Blocks PR #107.

[2015-08-11 17:08] cdondrup commented on #120
Could do that now.

[2015-08-11 17:08] yianni commented on #98
Isn't this closed by PR #104?

[2015-08-11 17:08] cdondrup commented on #98
Should be, yes.

[2015-08-11 17:08] #98 closed

[2015-08-11 17:09] yianni commented on #120
Whenever you feel like. 0.1.2 will be the last release before breaking backward compatibility. Can't think of anything else holding it back tbh so go ahead when you have a moment.

[2015-08-11 17:19] #120 closed

[2015-08-11 17:26] cdondrup commented on #120
Re-release almost done, please keep in mind that this release also contains the qsr-prob-rep package (that should have been a reason to jump to 0.2 in the first place to be honest but never mind, didn't think about that) so you will need to run a dist-upgrade to update held back packages.

Also keep in mind that both packages in this repo will always have the same version number.

[2015-08-11 17:31] yianni commented on #120
Indeed it probably should have been 0.2 for qsr-prob package, but oh well, nvm now.

TBH IMO I like that there are learning tools that use the QSR computation package within QSRlib, but I think that they all deserve a more generic package name, something like `qsr_lib_learning` and then have the `qsr_prob_rep` package under it.

We can chat about it on another specific issue and if you also agree

[2015-08-11 17:34] cdondrup commented on #120
Yes, we can chat about that at a v1.0 meeting, maybe at the GA.

[2015-08-12 11:09] yianni opened #121 "Discuss, decide and organize which features should make it to the LAMoR QSRlib"
IMO 0.2 should be the base.

[2015-08-12 12:45] cdondrup commented on #121
Sounds good to me. I'd say we just add what ever feature we need for the school to the 0.2 milestone.

[2015-08-12 12:48] yianni commented on #121
It's the only way to do it as github does not allow assigning issues and PRs to multiple milestones unfortunately.

Leave the milestone of `LAMoR version` open though please as I send them an email about such a feature request and they already got back to me asking for an example (their customer support is awesome).

[2015-08-12 14:31] yianni opened #122 "[qsrlib_io] World_QSR_Trace.get_sorted_timestamps method does not look right"
`World_QSR_Trace.get_sorted_timestamps` method does not look right.

[2015-08-12 14:43] cdondrup commented on #122
Something like:

[code]

maybe?

[2015-08-12 14:46] yianni commented on #122
What if they are float timestamps?

Basically one more thing to deprecate and enforce to one standard that timestamps can be only numeric; leaving the get_sorted_timestamps as a wrap method to simply:

[code]

[2015-08-12 14:48] cdondrup commented on #122
Can also just do:

[code]

which works for both ;)

But I agree, if the conversion is not necessary, get rid of it.

[2015-08-12 14:58] yianni commented on #88
This I think is bugged. I will give it a shot to fix it as I think it is in the rectify_timestamps function the issue.

[2015-08-12 14:58] yianni commented on #88
And actually causes qtcbs to fail.

[2015-08-12 15:00] cdondrup commented on #88
These are the test results for the PR with rectify:

[code]

So qtcbs works and also I am currently using it and for everything works fine.

[2015-08-12 15:04] yianni commented on #88
Download [this world_trace pickle file](https://www.dropbox.com/s/w50rrwezqrx286h/world_trace_qtcbs_fails.p?dl=0).

From qsrs_for branch in my repo in the example_ros_client replace the dbg section near the end to the folllowing (dont forget to change the path to load the pickle from):
[code]

[2015-08-12 15:15] yianni commented on #88
Yes the bug is here. I know why.

[2015-08-12 16:13] yianni commented on #88
I am afraid it most defintely didn't and since #95 any QTC results were wrong under certain conditions (validate=False, no_collapse=True, the timestamps of the World_QSR_Trace overlap the timestamps of the World_Trace). Apparently the rostest failed to capture the error and I am not sure it could capture it in any case cause of variable returns (need to look in more detail the rosttest).

[2015-08-12 17:07] cdondrup commented on #88
You're correct, the test only works on collapsed and validated chains. I'll add a test for non_collapsed and non validated chains at some point.

[2015-08-13 11:25] #88 closed

[2015-08-13 11:42] yianni opened #124 "Communicate once more to STRANDS WP8"
Communicate to STRANDS WP8 that version 0.1.3 (or 0.1.3+ on a per need to fix bugs) will be the latest that supports the non-backward compatible changes in PR #107

[2015-08-14 17:59] yianni commented on #124
Assign this to @cdondrup as I am away next week with limited to no access to email.

If you can please send an email before or on merging of #107 just letting people know that if they need backward compatibility they should check out 0.1.3 release version.

Thanks.

[2015-08-17 09:51] cdondrup commented on #124
Done

[2015-08-17 09:51] #124 closed

[2015-08-17 09:56] cdondrup commented on #114
Just an additional comment, It would be nice that when the `qsrs_for` is given without a namespace it counts for every QSR requested. This can then be overridden for specific QSRs when using the namespace. Example:

[code]

this would result in all QSRs being created for `("o1","o2")("o3","o4")` but all QTCs would be created for `("o2","o3")`. This would remove a lot of overhead if you want to req

[2015-08-17 09:57] cdondrup opened #126 "[qsr_lib] Remove every function call that is currently considered deprecated"

[2015-08-17 09:59] cdondrup opened #127 "[qsr_lib] Switch from string output to dictionary output"
This allows to natively support the multiple requests in one service call without having to specify the `future` option.

[2015-08-18 09:51] #101 closed

[2015-08-18 10:18] cdondrup commented on #108
Closed via #107

[2015-08-18 10:18] #108 closed

[2015-08-18 11:28] pet1330 commented on #111
See #128

[2015-08-18 11:28] #111 closed

[2015-08-18 11:37] cdondrup commented on #114
I don't see how this blocks #111. A simple rebase after #128 has been merged should fix this. Also, since we are changing to a non backward compatible version I think we should abolish the old way of setting `qsrs_for` and while we're at it, the name `qsrs_for` is not very self-explanatory. I don't really have a much better idea, maybe something like `object_pairs`, but I personally couldn't tell

[2015-08-18 12:24] pet1330 commented on #114
How about one of these:
* qsr_filter ?
* qsr_select ?
* qsr_only ?

[2015-08-18 13:13] pet1330 opened #129 "Refactor coneDir to cardir"
coneDir needs to be refactored. @cdondrup found the following which refers to it as "cardinal directions"
[code]

Maybe **cardir**?

[2015-08-18 13:15] cdondrup commented on #129
I'm not sure if it really "needs" to be refactored but I think we should at least list all the QSRs together with the papers where they are described (if any) maybe in the readme or a wiki page. Of course refactoring would make the connection clearer...

[2015-08-18 13:16] pet1330 opened #130 "Example standalone client needs updating"
The example ros client has been updated with the 0.2.0, but the standalone clients also needs to be updated to match

[2015-08-18 13:18] cdondrup commented on #130
Duplicate of #67

[2015-08-18 13:18] #130 closed

[2015-08-18 13:41] yianni commented on #114
It already does so, priority given to the namespace.

[2015-08-18 13:44] yianni commented on #114
To your above comments. `qsrs_for' if short for `generate_qsrs_for_the_following` overwriting default behaviour of each QSR which typically will generate QSRs for all possible objects in a `World_Trace`. E.g. you might have a World_Trace for full body skeleton and objects but require QSRs only for hands and objects... This allows you to do so easily.

[2015-08-18 13:50] yianni commented on #129
[See here](http://journals.cambridge.org/download.php?file=%2FKER%2FKER30_01%2FS0269888913000350a.pdf&code=f0b140e5e01f42f5bb451e4f5abcf862)

[2015-08-18 14:48] cdondrup commented on #114
I find it confusing to have both, a variable in the request message and the use inside the namespace via dynamic_args. This is not really readable or logical and I would strongly advise against this. I see two possibilities of solving this and be consistent in usage, i.e. not setting the same variable at two different places:

1. The `qsrs_for` field takes a dictionary instead of a list of tuples

[2015-08-19 12:43] cdondrup opened #134 "[qsr_lib] Suggestion: Lose the 'make' function"
This is a follow up of #133. Currently the `make` function is where all the magic happens but it also hosts a lot of duplicate code. Hence, this suggestion:

__Have one make function in the `QSR_Abstractclass` which calls a few well structured and purpose bound customised functions__

The pseudo python code for this could look like this:

[code]

Here are the main functions used:

**set_input_data

[2015-08-19 12:47] pet1330 commented on #134
I like it :smile:

[2015-08-20 10:15] yianni commented on #134
Yes, leave it with me as it is related to #118 .

[2015-08-24 12:01] yianni opened #137 "Towards 0.2"
Help needed.

[This branch](https://github.com/yianni/strands_qsr_lib/tree/towards-0.2) includes some changes that we have been discussing, mainly:
* restructuring the code to make it simpler for devs
* making --future the only option

Still pending are:
* @cdondrup QTCBS family has not been restructured; I have provided the abstractmethods that need to be implemented; can you please restructure i

[2015-08-24 12:02] yianni commented on #137
Confirm you agree with PR rejections.

[2015-08-24 12:03] yianni commented on #137
Ah yes and for examples see `MOS` or `RCC2`.

[2015-08-24 13:07] cdondrup commented on #137
I have  few comments, sadly I cannot make inline comments, so please bare with me:

* [qsrlib](https://github.com/yianni/strands_qsr_lib/blob/8ff3c5806075d7b4133ccbf74d02dcf02b272552/qsr_lib/src/qsrlib/qsrlib.py#L156-L157) the previous try and except should be faster than an if. The if is executed every time even though the default case will be that the qsr does exist. The except block is only exe

[2015-08-24 13:08] cdondrup commented on #137
BTW: Have you seen this: https://github.com/strands-project/lamor15/issues/1#issuecomment-133329040 ?

[2015-08-24 13:36] yianni commented on #137
See below:

This if hardly puts any overload, but that's fine, will take it off. The try/except makes debugging a pain... the error can be anything and different than the message. Might as well leave it unprotected.

Agree. Non-abstract is fine.

Code is being cleaned up, this is not used anywhere at the moment.

Don't like this for many reasons, it does not allow pick-and-mix between the two name

[2015-08-24 14:34] cdondrup commented on #137
It only looks for a `KeyError` but I agree that the key error might also occur down the line. Fell free to change it if you like.

This should do the trick and take the global ones if there are no namespace ones

[code]

The argd previously created only QSRs for one object combination and excluded the inverse one. This resulted in `o1,o2` having a `argd` value and `o2,o1` not having one which is v

[2015-08-24 15:07] yianni commented on #137
Sceptical about the one below as allows the user to give its own names and break things. Anyway can also be changed later; as I am trying to get the core of the 0.2 out ASAP. Such improvements can be done later.

[code]

[2015-08-24 15:18] yianni commented on #137
@cdondrup OK, the latest commit on my towards-0.2 branch is missing the QTCS family to be brought up to speed. Can you have a look please? I will carry on with some other things in the meantime but I won't touch the QTCS* files to avoid conflicts. If you can do the same and stay out of the rest of the files other than the QTCS* it would be great :P.

[2015-08-24 15:19] yianni commented on #137
Ah yes and ask me if you need something.... but in the end of the day all needed should be the `make_world_qsr_trace` and `process_qsr_parameters...` functions. Look MOS for example.

[2015-08-24 15:23] cdondrup commented on #137
Will do but might not be able to before tomorrow.

[2015-08-24 15:31] yianni commented on #137
That's fine. Thanks.

[2015-08-25 13:18] cdondrup commented on #137
I'll leave a few suggestions here while which I came across while altering QTC:

* Set `req_params = req_params["dynamic_args"]`
* Set `_for_all_qsrs = "for_all_qsrs"` in abstract class so one can use `req_params[self._for_all_qsrs]` to get the global ones.
* Check if the objects are available in both timestamps before running calculations:

[code]

* custom_checks_qsrs_for still necessary? You st

[2015-08-25 13:21] yianni commented on #137
I'll merge the PR and have a look later... Some things have changed since then.

[2015-08-25 13:27] cdondrup commented on #137
Just saw it... have to rebase first, got conflicts.

[2015-08-25 13:51] pet1330 commented on #106
This issue was resolved in #128

[2015-08-25 14:16] #106 closed

[2015-08-25 17:36] yianni commented on #34
Do they have to be *ros* tests? Pure python unittests won't work? Noticed that [this unittest](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/tests/utest_qsrlib_unique_developed_qsrs.py) was not triggered in a PR. :(

[2015-08-25 17:37] cdondrup commented on #34
Short answer, yes.
Jenkins only builds rostest because they are triggered via catkin.

[2015-08-25 17:38] yianni commented on #34
OK :(

[2015-08-25 17:39] yianni opened #140 "Make unittests to rostests"
Make [this unittest](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/tests/utest_qsrlib_unique_developed_qsrs.py) into a rostest one.

[2015-08-25 17:39] hawesie commented on #34
But you can implement them as Python unittests still.

[2015-08-25 17:40] cdondrup commented on #34
It's not complicated, just have a look at:
https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/tests/qtc_tester.test
https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/tests/qtc_tester.py
and
https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/CMakeLists.txt#L39-L42

[2015-08-25 17:46] yianni commented on #34
and just wrap them in ROS I take it? If yes that's what I was planning to do.

[2015-08-25 17:49] yianni commented on #34
Thanks. Yes had seen them just thought that pure python would work too. Will wrap it at some point.

[2015-08-27 12:28] #67 closed

[2015-08-27 12:28] #113 closed

[2015-08-27 12:28] #114 closed

[2015-08-27 12:28] #118 closed

[2015-08-27 12:28] #119 closed

[2015-08-27 12:28] #122 closed

[2015-08-27 12:28] #126 closed

[2015-08-27 12:28] #127 closed

[2015-08-27 12:28] #134 closed

[2015-08-27 12:28] #137 closed

[2015-08-27 12:30] yianni commented on #140
Closed by #139

[2015-08-27 12:30] #140 closed

[2015-08-27 12:30] yianni commented on #121
Closed by #139

[2015-08-27 12:30] #121 closed

[2015-08-27 12:31] yianni commented on #112
Closed by #139

[2015-08-27 12:31] #112 closed

[2015-08-27 12:41] yianni opened #141 "Speed improvements to copy/invert QSR if mirror exists where applicable"

[2015-08-27 12:42] yianni opened #142 "[QTCS] family and missing values"
Discuss whether QTCS is capable of supporting missing values (bypassing custom_checks seems to work, but whether results are correct or not is another question).

[2015-08-27 15:30] yianni opened #143 "[QSRlib] refactor and tuplecize `all_possible_relations`"
Refactor `all_possible_relations` to protected scope, expose it with a get method and replace its list type with a tuple.

[2015-08-27 15:31] yianni opened #144 "[QSRlib] Investigate the story with `custom_checks`"
Method only used in QTCS currently. Maybe there can be a workaround and deprecate if decided that it is not needed.

[2015-08-27 15:32] yianni opened #145 "[QSR_Abstractclass] Get method for `_unique_id` member"

[2015-08-27 15:34] yianni opened #146 "[QSR_Abstractclass] Investigate whether `_set_input_world_trace` method is still needed"

[2015-08-27 15:36] yianni opened #147 "[QSR_Arg_Relations_Abstractclass] Refactor `set_qsr_relations_and_values` method to protected"

[2015-08-27 15:37] yianni opened #148 "[World_Trace] Resolve the todos"

[2015-08-27 15:41] yianni opened #149 "set_from_config_file: does it even work still? should be deprecated?"
Only argd currently uses it and whether it still works in 0.2.0 remains to be tested. Should this remain where it is as it complicates things (unncecessariy IMO), or should be provided as a utilities function to a user, or deprecated completely?

[2015-08-27 18:44] pet1330 commented on #149
I think it should be an option, it shouldn't complicate it too much, even if it just checks the file when starting and passes it as dynamic args automatically thereafter?

[2015-08-28 08:33] yianni commented on #149
Yes, that's where I am leaning towards to; being a functionality offered to the client and the yaml format of the config file should be such that it is read straight as `dynamic_args`.

[2015-08-28 09:02] cdondrup commented on #149
Just leave it to the client, yes. Then you can just use the ros internal functions like roslaunch to read the yaml file and get it from the parameter server. Don't burden the lib with that.

[2015-08-28 09:04] yianni commented on #149
OK, since there are no objections it will move to client side. Won't do any changes though before Sunday's LAMOR to keep the lib in its current version.

[2015-08-28 09:06] yianni commented on #144
Given that QTCS is the only one currently using it probably best if you have a look whether you actually need it. It might also be related to #142 as when bypassed QTCS relations are returned with missing values (whether they are valid and correct is another story).

No rush for it though.

[2015-08-28 09:07] cdondrup commented on #149
:+1:

[2015-08-28 09:08] yianni commented on #34
Assigning it to me as I already had something that did not want to push to the 0.2 PR. To avoid duplicate efforts.

[2015-08-28 09:10] yianni commented on #129
I leave it with you. Have a look on the paper I have given above also as it is mentioned there also (also mentioned as cone directions) but there must be some minimal difference between the two.

[2015-08-28 09:18] cdondrup commented on #144
I mainly implemented them to try it ;) QTC actually does make a few checks in the make routine as well.

I don't think the custom_checks are really necessary. If the dyadic abstract class ensures that there are two objects for each timestamp, then I'm fine with scrapping it.

[2015-08-28 09:19] yianni commented on #146
#144 pretty much decides for this.

[2015-08-28 09:27] yianni commented on #144
TL'DR: No, the vanilla dyadic does not do that check (or more accurate the specific check required by QTCS). Must all objects requested QTC relations be present at all timestamps?

In more detail, the dyadic checks via `qsrs_for` if the pair is present at a given . But what you need is a 2t check, something like the `QSR_Monadic_1t_Abstractclass`.

But the key question is: "Is QTCS family able to

[2015-08-28 09:33] pet1330 commented on #149
:+1:

[2015-08-28 09:33] yianni opened #150 "GLOBAL BLOCKER: NO PRs MERGED TILL END OF LAMOR SUN.30.08.2015"
As title says. Let's leave master in its current version till this Sunday. Feel free to make PRs but they won't be merged before that.

[2015-08-28 09:37] yianni commented on #149
And @yianni don't forget to remove the [corresponding field from the request message](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib/qsrlib.py#L25).

[2015-08-28 10:09] pet1330 commented on #129
I'll have a look on Sunday :smile:

[2015-09-02 17:06] yianni opened #153 "[rostests] Missing argd/argprobd rostest, need data for it"
Need a dataset and some thresholds for making a rostest for it.

Any volunteers to provide some data? I can do easily the rostest then.

[2015-09-03 16:17] yianni commented on #34
closed by #152 (mostly)

[2015-09-03 16:17] #150 closed

[2015-09-03 16:18] yianni commented on #153
closed by #152

[2015-09-03 16:18] #153 closed

[2015-09-03 16:23] yianni opened #154 "[rostest] argprobd question"
Question for @cdondrup

My understanding of argprobd: in order to make sense and utilise its probabilistic nature there must be overlap between the boundary regions as specified by the std of the normal distribution. This means that in essence it is not deterministic.

Is my understanding above correct?

If yes then it means that due to its stohastic nature it is not possible to have a rostest tes

[2015-09-03 16:24] yianni opened #155 "[rostest] mutliple"

[2015-09-03 16:25] #34 closed

[2015-09-03 16:26] yianni opened #156 "Rostests for v1.0"
Closes when "Rostests for v1.0" milestone is complete.

[2015-09-03 16:43] yianni commented on #154
Nvm, seed works nicely and easily.

[2015-09-03 16:43] #154 closed

[2015-09-04 08:18] #155 closed

[2015-09-04 08:28] yianni opened #159 "[rostest] QTCS gives a warning in multiple_tester"
During the run of `multiple_tester` QTCS family give the following warning:
[code]

Preliminary debugging shows that It happens in `test_defaults` with datasets data1, data2 and data3 as well as with the other tests that use data1.

Might add a 2nd test for QTC at some point similar to the others.

Unable to assess how critical this is or whether it is an actual bug.

[2015-09-04 08:29] yianni opened #160 "[rostest] Add a 2nd rostest for QTCS similar to the others"

[2015-09-04 08:41] yianni commented on #159
Confirmed it happens in solo run for qtcbs, qtccs, qtcbcs for data1, data2 and data3; strangely not for data4.

[2015-09-04 08:44] yianni commented on #159
Further warning for QTBCS which happens with datasets:
[code]

[2015-09-04 12:40] pet1330 commented on #129
I looked at both of the above papers, the second paper(2013) referenced the first(1991), so I think this should be used. It is also an older paper.

From section 4 of [Qualitative spatial reasoning about cardinal directions (PDF)](http://mapcontext.com/autocarto/proceedings/auto-carto-10/pdf/qualitative-spatial-reasoning-about-cardinal-directions.pdf) says:

This suggests that the names are reason

[2015-09-04 12:53] #156 closed

[2015-09-04 12:53] #160 closed

[2015-09-04 14:13] yianni commented on #129
+1 for renaming to carDir, or maybe better cardDir; blah both sound weird.
@pet1330 could you do it?

[2015-09-04 14:43] yianni opened #162 "are rostests correctly executing on jenkins?"
@marc-hanheide

Are rostests correctly executing in jenkins build server? I have noticed the following two issues in a latest build:
* multiple_test took only about 8s, while in my system it takes over 2mins and in jenkins server if I recall well over 5mins.
* all tests although have different execution times so hopefully they run correctly they all have the same header (saying running `qsr_lib/te

[2015-09-04 14:55] yianni commented on #162
Found [here](http://docs.ros.org/indigo/api/catkin/html/howto/format1/run_tests.html) how to run them all.
They run fine for me with
[code]

so not clue what is happening when they run in jenkins server.

[2015-09-04 15:15] yianni commented on #162
I guess I know the answers to those now.

Cause it is failing but jenkins still gives the green light.

I guess always displays the header of the report?

[2015-09-04 15:31] pet1330 commented on #129
Yeah, if everyone is ok with this, I'll sort it out :smile:

[2015-09-07 12:05] marc-hanheide commented on #162
no... the results are not collated properly... see https://github.com/strands-project/strands_ci/issues/13 There might now be a few test runs going on and you might see some builds failing while I try to fix this.

[2015-09-07 12:11] cdondrup commented on #129
![care](https://cloud.githubusercontent.com/assets/4293484/9716469/d1493d32-5561-11e5-8270-db0750590688.jpg)

:-p

[2015-09-07 12:13] cdondrup commented on #159
That might happen due to nan values. Is this important? This is kind of a feature imho.

[2015-09-07 13:01] yianni commented on #162
OK, thanks. Let me know when fixed as I can run an after test here also with PR
#163 which I made it for this specific purpose.

[2015-09-07 13:11] yianni commented on #129
Don't you mean?
![image](https://cloud.githubusercontent.com/assets/167472/9717396/535050f6-556a-11e5-9f45-f9c0ea0aa10e.png)

[2015-09-07 13:14] yianni commented on #159
Is it breaking the calculation of QTCS values when nan values are the case?  If not
![image](https://cloud.githubusercontent.com/assets/167472/9717444/b4da28a6-556a-11e5-9c89-d419e8bd6e3b.png)

[2015-09-07 13:20] cdondrup commented on #129
Equally true ;)

[2015-09-07 13:21] cdondrup commented on #159
No, that is the feature I meant; It ignores nan values because of that warning. So works as intended.

[2015-09-07 13:25] marc-hanheide commented on #162
Plesse See https://lcas.lincoln.ac.uk/jenkins/job/devel-indigo-strands_qsr_lib/lastCompletedBuild/ARCH_PARAM=amd64,UBUNTU_PARAM=trusty,label=devel/testReport/

All tests seem to have passed. So it seems to be working now.

[2015-09-07 13:25] #162 closed

[2015-09-07 13:46] #145 closed

[2015-09-07 13:46] #147 closed

[2015-09-07 13:46] #143 closed

[2015-09-07 13:46] #144 closed

[2015-09-07 13:46] #148 closed

[2015-09-07 13:52] #159 closed

[2015-09-07 13:54] yianni commented on #149
closed by #151

[2015-09-07 13:54] #149 closed

[2015-09-07 13:54] yianni commented on #146
closed by #151

[2015-09-07 13:54] #146 closed

[2015-09-07 14:43] yianni opened #165 "World_QSR_Trace todos"
Sort out the todos and the slicing methods of World_QSR_Trace also (similar manner to World_Trace).

[2015-09-07 14:48] yianni commented on #105
Since this is eternally open (but not urgent before v1.0), I will still leave it until we reach a decision.

Another suggestion I have is that instead of using width, length, height we use xsize, ysize, zsize which is pretty clear what is what then.

Possibly also deprecate roll, pitch, yaw as it has the same issue as w,l,h and possibly replace with quartenion values.

[2015-09-08 16:12] #165 closed

[2015-09-11 10:16] yianni opened #169 "Where to host the docs?"
@marc-hanheide

Where are we meant to host docs from the STRANDS projects? Options I see are:
* [github-pages](https://pages.github.com/), which requires a separate branch `gh-pages` according to their instructions.
* [Read the Docs](https://readthedocs.org/), can be linked to github repo and requires no additional branch AFAIK, but it does require an account. Can do it under mine if you want.
* S

[2015-09-11 10:17] yianni opened #170 "Sort out the new todos"

[2015-09-11 10:51] marc-hanheide commented on #169
not sure what sort of documentation you're talking about. Normally, we'd use the `README.md` for the briefer instructions, and then the Wiki when more pages are required.

[2015-09-11 10:52] marc-hanheide commented on #169
Oh, or are you talking about autogenerated python docs?

[2015-09-11 12:08] yianni commented on #169
Yes sphinx html docs.

[2015-09-11 12:13] yianni commented on #169
[See here](http://qsrlib.readthedocs.org/) for the generated docs under my account

[2015-09-11 13:28] marc-hanheide commented on #169
the way you did that looks alright to me... Just link it from `README.md`?

[2015-09-11 14:10] yianni commented on #169
Yes would do that... was investigating what option you prefer in terms of where they should be hosted. If you are fine with API doc being in readthedocs under my account go ahead and close the issue.

[2015-09-11 14:17] marc-hanheide commented on #169
I don't mind too much. There is the infrastructure to auto-generate those docs from STRANDS repos via the build farm, but I have not enabled it yet and didn't plan to do any time soon. So, for now at least, keep it there and link it.

[2015-09-11 15:21] #169 closed

[2015-09-16 08:52] yianni commented on #129
closed by #171

[2015-09-16 08:52] #129 closed

[2015-09-16 10:57] yianni opened #173 "Rename length, width, height to xsize, ysixe, zsize"
Opinions? Related to #105 .

[2015-09-16 10:57] yianni opened #174 "Replace roll, pitch, yaw with quaternions just like in ROS"
Opinions?

[2015-09-16 10:58] yianni opened #175 "Enhance World_Trace.add_object_track_from_list"
Enhance [`World_Trace.add_object_track_from_list`] or better have internal methods that handle lengths 2, 3, 4, 6, but firstly issues #173 and #174 need to be resolved.

[2015-09-16 11:03] pet1330 commented on #173
They seem sensible. Just to clarify, I still think it should be in relation to the ROS standards, as shown above :)

For Example:

| Label| ROS Standard | current  | Old suggestion |  new suggestion |
| :-------------: |:-------------:| :-----:|:-----:|:-----:
| Width | Y | X | X | ySize |
| Length | X  |   Y | Z | xSize |
|Height | Z  |    Z | Y | zSize |

[2015-09-16 11:03] yianni opened #176 "Variables not in use"
Code inspection says that [`similarX` and `similarY`](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_rcc_abstractclass.py#L91) are not used. What are they for? Should they be removed?

@pet1330 plz have a look when a chance. Not urgent this.

[2015-09-16 11:05] yianni commented on #173
Cool.

Open a new issue for x,y,z and copy paste the table above, as this is a different issue.

[2015-09-16 11:08] yianni commented on #173
@cdondrup  @PDuckworth what about you? Do you explicitly remember using anywhere `o.length`, `o.width` and `o.height`? Otherwise, the change will be unnoticed (used primarily in the bboxes calculation).

[2015-09-16 11:13] yianni opened #178 "World_QSR_Trace.add_qsr does not append, maybe such method needed"
Or maybe not.

Certainly non-critical and urgent.

[2015-09-16 12:33] cdondrup commented on #173
I don't. Go ahead.

[2015-09-16 12:36] cdondrup commented on #174
Roll, pitch and yaw are a bit easier to understand, for me at least, and easy to generate from within ROS. So for the usage without ROS I don't think quaternions are necessarily better but for the usage with ROS it saves you one or two steps.

I don't have a real opinion on that to be honest as I don't use it much. How about both? :P
If a 3-tuple is given assume rpy and a 4-tuple is a quaternion?!

[2015-09-16 12:45] yianni commented on #174
There is no doubt that roll, pitch yaw are easier to understand. The only issue with them is that it depends on which are the x,y z axes which relates to issue that @pet1330 has brought up. Quaternions on the other hand have an x,y,z (and a w) component which makes it much more distinct.

We could in theory provide a rpy2quaternion function but it will still suffer on what is our interpretation of

[2015-09-16 12:46] #176 closed

[2015-09-16 14:21] pet1330 commented on #174
I think as long as its consistent, it shouldn't matter too much from the users perspective. It only really makes a difference from the developers point of view. I think @cdondrup's idea is good here:

If a 4-tuple is given, then you've got all the information you need, if a 3-tuple is given, you'll have to just assumption like we do now.

[2015-09-16 14:23] yianni commented on #174
It's already done with both :).

[2015-09-16 22:38] yianni commented on #174
closed by #177

[2015-09-16 22:38] #174 closed

[2015-09-16 22:39] yianni commented on #173
closed by #177

[2015-09-16 22:39] #173 closed

[2015-09-16 22:39] yianni commented on #170
closed by #177

[2015-09-16 22:39] #170 closed

[2015-09-16 22:41] yianni commented on #105
closed by #177

[2015-09-16 22:41] #105 closed

[2015-09-16 22:41] #115 closed

[2015-09-19 10:26] yianni opened #183 "RCC3 is wrong"
Deprecate RCC3 which is wrong (both symbolically and conceptually) and replace it with an RCC4 which includes an inverse relation.

[2015-09-21 09:01] yianni commented on #183
@pet1330 With respect to recent comment that you are using it, I will close this issue.

Might want to consider that there is an inverse missing relation in rcc3, if x occludes y, then what is the relation between yx?

[2015-09-21 09:01] #183 closed

[2015-09-21 12:13] pet1330 commented on #183
This is only relevant if you want to distinguish the inverse, which in my particular example, I don't.

[2015-09-21 12:20] yianni commented on #183
I thought so as much, it was same for me in the past (see other comment). OK we can discuss and sort out RCC3 at a later stage, which requires deciding on two issues if it is to be kept:

* where do the inverse relations map to?
* we probably should use RCC8 or RCC5 vocabulary (as it is my vote to RCC8).

[2015-09-21 12:56] cdondrup opened #188 "[qsr_prob_rep] Add wait for service to ros client"

[2015-09-22 14:03] #188 closed

[2015-09-22 14:04] yianni opened #192 "Fix and put back multiple test when the new QSRs are integrated"

[2015-09-22 14:04] yianni opened #193 "[RA] Make it work with discrete spaces also"

[2015-09-28 09:57] pet1330 opened #194 "[qsr_prob_rep] - XML memory issue with larger HMMs"
When I tried to dump a relatively large HMM file, I used over 32GB of RAM, at which point my computer killed it. The actual HMM generation finished, but was not able to save the file. We think this is a result of the function which dumps it to a XML files found [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_prob_rep/src/qsrrep_lib/rep_lib.py#L72).

We got around the issu

[2015-09-29 16:31] yianni opened #197 "Doc V1"
To hold milestone open.

[2015-09-29 16:32] yianni opened #198 "Doc V1"
To hold milestone.

[2015-09-29 16:33] yianni commented on #198
duplicate  of #89

[2015-09-29 16:33] #198 closed

[2015-10-02 16:10] yianni opened #201 "make tpcc test"

[2015-10-02 16:11] yianni opened #202 "make qstag test"

[2015-10-02 16:11] yianni opened #203 "check new rcc4 and rcc5 have tests"

[2015-10-04 18:32] yianni opened #205 "argd docs"

[2015-10-04 18:33] yianni opened #206 "argprobd docs"

[2015-10-04 18:33] yianni opened #207 "cardir docs"
descr and api pages.

[2015-10-04 18:34] yianni opened #208 "mos docs"

[2015-10-04 18:34] yianni opened #209 "qtc*s docs"
descr and api pages.

[2015-10-04 18:35] yianni opened #210 "ra docs"

[2015-10-04 18:35] yianni opened #211 "tpcc docs"
just require a clarification on the lines relations.

[2015-10-04 18:37] yianni opened #212 "docs for dynamic args in usage"
http://qsrlib.readthedocs.org/en/latest/rsts/handwritten/usage.html#qsr-parameters-dynamic-args

[2015-10-04 18:39] yianni opened #213 "docs for specific parameters in for developers"
http://qsrlib.readthedocs.org/en/latest/rsts/handwritten/for_developers.html#qsr-specific-parameters

[2015-10-04 18:42] yianni opened #214 "add dynamic args for each of the QSRs already written"
Forgot to add the dynamic args of the QSRs that have already been documented.

Also for attention of @cdondrup @PDuckworth @pet1330 @cburbridge where applicable.

[2015-10-05 08:57] #201 closed

[2015-10-05 10:41] #192 closed

[2015-10-05 12:29] yianni commented on #116
@cdondrup

I had a go on this. Unfortunately, it is not straightforward the slightest because json only supports serialisation of booleans, numerics and strings. This means that the whole qsrlib_io package will have to provide json encoders and decoders. And even then it is still not exposed to C, but merely might allow to use python code in C (for example [see here](https://docs.python.org/2/exte

[2015-10-05 12:56] #208 closed

[2015-10-05 12:56] #210 closed

[2015-10-05 14:09] #203 closed

[2015-10-05 14:09] yianni commented on #203
They do.

[2015-10-05 14:17] pet1330 commented on #203
Did it not take you longer to write this issue than to check that? :stuck_out_tongue_winking_eye:

[2015-10-05 14:22] yianni commented on #203
:P

[2015-10-05 14:32] #205 closed

[2015-10-05 16:29] #212 closed

[2015-10-05 16:29] #213 closed

[2015-10-05 16:29] #214 closed

[2015-10-06 12:24] yianni commented on #142
See discussion in #144

[2015-10-06 12:24] #142 closed

[2015-10-06 12:26] yianni commented on #193
Discrete or continuous makes no difference in RA. A bit relevant is PR #221 where qfactor relaxation has been added.

[2015-10-06 12:26] #193 closed

[2015-10-06 12:53] yianni opened #223 "Need 3D datasets for unittests"

[2015-10-07 09:13] #175 closed

[2016-02-11 12:06] yianni opened #234 "[QTCBS] Parallel motion gives 0s relations"
@cdondrup

As title says in vertical and horizontal parallel movements of two objects the relations are always [0, 0], which does not seem right.

[2016-02-11 12:09] yianni commented on #197
@cdondrup @cburbridge @PDuckworth @pet1330

bump! Would like to have the docs complete on QSRlib paper submission. So if you could please ckeck and write the parts that are more appropriate for you to write.

[2016-02-11 13:38] #116 closed

[2016-02-11 21:07] cdondrup commented on #234
Since this only models attract and repell, parallel movement will produce 0 states in qtcbs where as in qtccs it won't. But maybe I misunderstood the question. Do you have an example drawing?

[2016-02-16 12:32] PDuckworth commented on #234
Hi @cdondrup, Please can you tell us where QTCBS is defined? Or what exactly is the simplification? Possibly you could add it to the QSRLib docs or the QSRLib journal paper?

In your paper: "A Probabilistic Model of Human-Robot Spatial Interaction Using a Qualitative
Trajectory Calculus" you only define QTC_C.

[2016-02-16 14:55] cdondrup commented on #234
Hi, I will add docs as soon as I get some free time. I am however currently quite busy with deployment preparations. I promise I'll do it ASAP.

Regarding the definition of QTCBS

QTCB describes the relative movement between `k` and `l` in the 3-tuple `{q1, q2, q3}` where each element can take one of the values `{+,0,-}` as follows:

[code]

The simplification here is that I only regard `{q1, q2}`

[2016-02-16 14:56] cdondrup commented on #234
And the way QTCB is calculated is by calculating QTCC and omitting the last two and hence remove the side constraint.

[2016-02-16 17:41] PDuckworth commented on #234
```q1: "-" k is moving away from l```
Is the distance between k and l calculated each at the same timepoint?

I know from [here (bottom page 104 Eq (1))](http://matwbn.icm.edu.pl/ksiazki/cc/cc35/cc3516.pdf) it uses some time before and after t to determine if a point is moving towards or away. This is for continuous time however.

[2016-02-18 13:33] cdondrup commented on #234
Yes, there is two different ways to calculate these.

1. Calculate state for `t_1` looking at `t_0`, `t_1`, and `t_2`
1. Calculate state for `t_1` looking at `t_1` and `t_2`

The current implementation does the latter. However, for parallel movement, there should be no difference in outcome using either.

[2016-02-18 15:25] PDuckworth commented on #234
There are many ways to calculate this.
I think you take the distance between points ```u``` and ```v``` at time ```t_0```. Lets call this ```d(u|t_0, v|t_0)```. And compare this to the distance between ```u``` and ```v``` at time ```t_1```, which is ```d(u|t_1, v|t_1)```?

My point above is that in [here](http://matwbn.icm.edu.pl/ksiazki/cc/cc35/cc3516.pdf) they compare  the position of ```u``` at

[2016-02-18 15:43] cdondrup commented on #234
Yes, of course. Sorry for the confusion. The implementation currently compares `d(k_t0,l_t0)` to `d(k_t1,l_t0)` and vice versa for `l`:

[code]

So you compare the movement of point `k` from `t0` to `t1` with the position of point `l` at `t0` which gives you the relative movement of `k` and then the same for l.

This means that if they follow each other you will have `(+-)` but if they move in par

[2016-02-18 15:46] cdondrup commented on #234
Just as an example:

[code]

[code]

[code]

[code]

[2016-02-19 14:19] PDuckworth opened #235 "Rename QTCBS to QTBC11"
As per [here](http://matwbn.icm.edu.pl/ksiazki/cc/cc35/cc3516.pdf) or [here](http://www.sciencedirect.com/science/article/pii/S0957417410011863), QTCBS is already defined as QTCB11.

Similar issue may exist with QTCC also. @yianni @cdondrup

[2016-02-19 14:23] cdondrup commented on #235
Yes it does also exist for QTCC. As I said, if this really is an issue, please feel free to refactor and also refactor strands_hri as this is using it heavily. I have no time to do this so please don't break my code just because of a naming convention.

[2016-02-19 14:39] marc-hanheide commented on #235
@PDuckworth you are right, but as this is mostly a documentation issue rather than a code issue, I suggest to simply update the documentation and point out the equivalence there.

[2016-02-19 14:39] marc-hanheide commented on #235
Or, alternatively introduce aliases in QSRlib to avoid breaking existing code.

[2016-02-19 18:29] yianni commented on #235
@marc-hanheide Not sure what you mean by aliases, but if you are referring to dictionary mapping it might be tricky as this name is unique and tightly integrated to the retrieval and parsing of the QSRs returned also.

@cdondrup Don't worry about breaking code. Will not actually refactor but do one of the following solutions I see viable and quick:

* Copy the current QTC?S and rename them, and do

[2016-02-20 18:06] cdondrup commented on #235
The versions used are QTCB11, QTCC21, and then these are combined into QTCBC which would then be QTCB11C21 to be exact but I defined that as QTCBC in my paper. It's up to you how you want to name them.

[2016-03-18 19:08] PDuckworth opened #237 "QTC error checks for missing data"
@cdondrup  I wanted to highlight that the QTC abstract class only checks if data exists in all timepoints, by using the list of objects from timepoint[0] only. [here](https://github.com/strands-project/strands_qsr_lib/blob/master/qsr_lib/src/qsrlib_qsrs/qsr_qtc_simplified_abstractclass.py#L369)

But (I believe) it still returns a qsr value for object pairs at timepoint[0], even if one of the objec

[2019-09-11 14:16] alexander-gabriel opened #245 "yaml dependency missing"
[code]

[2019-09-11 14:45] #245 closed

[2019-09-11 14:45] alexander-gabriel commented on #245
python 2/3 issue

[2022-03-09 06:52] Kev1n3zz opened #247 "ModuleNotFoundError: No module named 'exceptions'"
I download the code on my computer with python3.10.x.
After following the installation, there shows an error.

[code]

I checked the file and the installation, it has't notes what the exceptions are.
And StackOverflow found no answer  :)

How could i fix this problem?

[2022-03-29 11:59] VVogelimkafig commented on #247
i have the same problem, i installed the python-docx but still have this error

[2022-04-21 16:48] albspe commented on #247
I have a similar issues but on a different module. I get:

[code]
I set up `PYTHONPATH` as required.
Any idea/suggestion ?

[2022-04-21 16:54] Geguze commented on #247
Having a similar issue but with a different module:

[code]
`PYTHONPATH` is correctly set. Any suggestion?

[2022-04-22 05:45] Kev1n3zz commented on #247
maybe rewrite the code or change python version to 2.x.&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年4月22日(星期五) 凌晨0:55
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [strands-project/strands_qsr_lib] ModuleNotFoundError: No module named &#39;exceptions&#39; (Issue #247)

Having a similar issue but with a different module:
 $ ./mw

[2022-04-24 09:09] muelthom commented on #247
I'm currently running on Python 3.9.12 and faced the same issues mentioned above.

I am by no means a Python expert but with a few minor modifications I managed to **make the MWE working**. Here are the steps I made:

1. In `qsrlib_qsrs/__init__.py` change the module import to relative paths:
  (e.g., change `from qsr_rcc2 import QSR_RCC2` to `from .qsr_rcc2 import QSR_RCC2`)
3. For the *ModuleNot

[2022-10-11 07:17] Kev1n3zz commented on #247
Thank you, i am already did this either. lol

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Thomas ***@***.***&gt;;
发送时间: 2022年4月24日(星期天) 下午5:09
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [strands-project/strands_qsr_lib] ModuleNotFoundError: No module named &#39;exceptions&#39; (Issue #247)

I'm currently running on Python 3.9.12 and faced the same issues men